@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    align-content: center;
    text-align: center;
}

#logo{
    height: 80px;
}
#line{
    margin: 0;
    height: 2px;
    background-color: yellow;
}
#description-logo{
    margin-top: 0;
    background-color: rgba(245, 46, 162, 0.315);
}
#description-logo p{
    margin-top: 0;
    font-size: 10px;
    padding: 2em;
}

main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-align: center;
}

#figcaption{
    margin: 0;
    color: rgba(70, 70, 70, 0.836);
}

#content{
    margin-top: 2em;
    text-align: left;
    margin-bottom: 4em;
}

#featured{
    margin: 0;
    color: brown;
}

.align{
    text-align: left;
}

